-e .[avatar]
-e .[utils]
colour-runner==0.0.4
coverage==4.0.3
dj-database-url==0.4.1
dj-inmemorystorage==1.4.0
factory_boy==2.6.1
flake8==2.5.4
flake8-import-order==0.7
incuna-test-utils==6.5.1
mkdocs==0.15.3
mock==2.0.0
pillow==3.2.0
psycopg2==2.6.1
