-e .[avatar]
-e .[utils]
colour-runner==0.0.4
coverage==3.7.1
dj-database-url==0.3.0
dj-inmemorystorage==1.3.0
factory_boy==2.4.1
flake8==2.3.0
flake8-import-order==0.5.1
incuna-test-utils==6.0.0
mock==1.0.1
pillow==2.7.0
psycopg2==2.6
